.introduction-container {
  margin: 4rem 6rem;
  padding-top: 140px;
  margin-top: -100px;
  text-align: start;
  text-align: center;
}

.introduction-container h1 {
  padding-bottom: 3rem;
  font-size: 3rem;
}

.introduction-container p {
  padding-bottom: 2rem;
  margin-top: -1.5em;
}

@media screen and (max-width: 850px) {
  .introduction-container {
    margin: 4rem 2rem;
    padding-top: 90px;
  }
}
